*{
    margin: 0;
    padding: 0;
    vertical-align: top;
}
/******************* container *************************/
.container{
    width: 940px;
    height: auto;
    margin: 0 auto;
}

/*********************** header *********************/
.header{
    width: 940px;
    height: 75px;
    background-color: blanchedalmond;
    display: flex;
}

.logo{
    width: 240px;
    height: 75px;
    padding-top: 30px;
    background-color: white;
    color: black;
    /* line-height: 20px; */
    z-index: 1;
}

.logo img, .logo h1{
    float: left;
}
.logo img{
    margin-right: 4px;
}
.logo h1{
    font-size: 36px;
    line-height: 24px;
    font-weight: bold;
}
.logo span{
    font-size: 14px;
}

.header nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header nav ol li{
    display: inline-block;
}

.header nav ol li a{
    text-decoration: none;
    padding: 29px 31px;
}

.header nav ol li a.active, .header nav ol li a:hover{
    background-color: #e39101;
    color: white;
}


/****************************** bg-img ***********************/
.bg-img{
    width: 100%;
    height: 475px;
}

.bg-img img{
    width: 100%;
    height: 475px;
}

.bg-text{
    width: 300px;
    height: 200px;
    position: absolute;
    left: 100;
    top: 310px;
}

.box{
    width: 275px;
}

.box h1,.box-2 h1{
    font-size: 44px;
}
.box-1 h1 span{
    font-size: 52px;
    line-height: 25px;
}

.box-2 h1 span{
    background-color: #e39101;
    padding: 1px 12px;
    margin-left: 15px;
}

.box, .box-2{
    background-color: white;
}


.box-1{
    width: 307px;
    background-color: black;
    color: white;
    padding: 5px 0;
}
.box-2{
    width: 275.5px;
}
.box, .box-2{
    color: black;
}

/********************* content *****************/
.content{
    width: 940px;
    height: 210px;
    display: flex;
}

.column{
    width: 175px;
    height: 180px;
    padding: 30px 20px 0 40px;
}
.column-small-box{
    width: 15px;
    height: 210px;
    margin-right: 10px;
    float: left;
}

.small-box{
    width: 15px;
    height: 15px;
    background-color: #e39101;
    margin-top: 3px;
}

.column h4{
    font-size: 16px;
    margin-bottom: 11px;
}

.column p{
    margin-bottom: 10px;
    color: #a7a7a7;
}

.column h6, .row-2 h6{
    font-size: 13px;
    color: #595959;
}

.column h6 span, .row-2 h6 span{
    font-size: 11px;
    margin-left: 5px;
    line-height: 16px;
}
/****************** welcome to us -main-content ***********************/

.main-content{
    width: 940px;
    height: 390px;
    background-color: #f3f3f3;
    display: flex;
}
/************* main-column-1 ******************/
.main-column-1{
    width: 230px;
    height: 350px;
    padding: 40px 0 0 50px;
    position: relative;
}
.main-column-1 ol li{
    list-style: none;
    padding-left: 10px;
}
.main-column-1 ol li span{
    font-size: 11px;
    line-height: 16px;
}

.newsletter{
    width: 240px;
    height: 85px;
    padding-top: 30px;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: 0;
}

.newsletter h2{
    font-size: 32px;
    margin-bottom: 10px;
}

.newsletter input{
    width: 215px;
    height: 30px;
    background-color: #eeeeee;
    border: none;
    position: relative;
}
.arrow{
    width: 30px;
    height: 30px;
    font-size: 14px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 185px;
    top: 77px;
}

/*************** .main-column-2 ******************/
.main-column-2{
    width: 480px;
    height: 355px;
    padding: 35px 30px 0 20px;
}

.row-1{
    width: 480px;
    height: 200px;
}
.row-1 h1{
    font-size: 38px;
    margin-bottom: 20px;
}
.row-1 p{
    color: #a7a7a7;
    margin-bottom: 22px;
}

.row-2{
    width: 480px;
    height: 190px;
}
.row-2-img{
    width: 260px;
    height: 190px;
    float: left;
    margin-right: 10px;
}

.row-2-img img{
    width: 260px;
    height: 115px;
}

.row-2 h4{
    font-size: 14px;
    margin-bottom: 7px;
}
.row-2 p{
    color: #a7a7a7;
    margin-bottom: 7px;
}
/************************ .main-column-3 *************/
.main-column-3{
    width: 160px;
    display: flex;
    flex-direction: column;
}

.column-3-box-1, .column-3-box-2, .column-3-box-3{
    width: 135px;
    height: 90px;
    padding: 20px 10px 20px 15px;
    color: white;
    position: relative; 
}

.column-3-box-1{
    background-color: #e39101;
}

.column-3-box-2{
    background-color: #bd7a09;
}

.column-3-box-3{
    background-color: #a06602;
}

.column-3-small-box-1, .column-3-small-box-2, .column-3-small-box-3{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    position: absolute;
    right: 0;
    bottom: 0;
}

.column-3-small-box-1{
    background-color: #ffffff;
    color: #e39101;
    border-right: 1px solid #f3f3f3;
}
.column-3-small-box-2{
    background-color: #9f6501;
    color: #ffffff;
}
.column-3-small-box-3{
    background-color: #e39101;
    color: #ffffff;
}

.column-3-box-1 h4, .column-3-box-2 h4{
    font-size: 18px;
}

/****************** footer ***********************/
.footer{
    width: 940px;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.footer span{
    color: #918f90;
}